<footer class="footer-section bg-black small text-center text-white-50">
    <div class="container">
        <a class="mb-2 d-flex align-items-center justify-content-center" href="https://www.facebook.com/aikidoclubdebourgenbresse?fref=search&__tn__=%2Cd%2CP-R&eid=ARDV7_32c9x-f72foPxH3Wg58nNuY8rJi0koH7Vwrd22OXDKOQij0TJj_u-04Hwp5UI_1gaxGhIihDM3" class="mx-2" target="blank">
            <i class="fab fa-facebook-f fa-2x"></i>
        </a>
        <p class="d-flex align-items-center justify-content-center"> Copyright &copy; Zen Attitude 2019 </p>
        <!-- <a href="#" class="mx-2">
            <i class="fab fa-youtube fa-2x"></i>
        </a> -->
    </div>
</footer>