{# <!-- Modal de confirmation de suppression : appel via js par la class="confirmDelete" --> #}
<div class="modal fade" id="confirmDeleteModalUser" tabindex="-1" role="dialog">
<div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-section">
            <div class="modal-header">
                <h5 class="modal-title mx-auto">Confirmation de la suppression</h5>
                {# <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span>&times;</span>
                </button> #}
            </div>
            <div class="modal-body text-warning">
                <p>Etes-vous sûr de vouloir supprimer cet utilisateur ?</p>
                <p class="text-danger">ATTENTION : Les co-voiturages dont il est le conducteur seront supprimés !</p>
            </div>
            <div class="modal-footer mx-auto">
                <a class="btn btn-danger text-white" id="confirmDeleteUserYes">Oui</a>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Non</button>
            </div>
        </div>
    </div>
</div>


{# <!-- Modal de confirmation de suppression : appel via js par la class="confirmDelete" --> #}
<div class="modal fade" id="confirmDeleteModalStage" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-section">
            <div class="modal-header">
                <h5 class="modal-title mx-auto">Confirmation de la suppression</h5>
                {# <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span>&times;</span>
                </button> #}
            </div>
            <div class="modal-body text-warning">
                <p>Etes-vous sûr de vouloir supprimer ce stage ?</p>
            </div>
            <div class="modal-footer mx-auto">
                <a class="btn btn-danger text-white" id="confirmDeleteStageYes">Oui</a>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Non</button>
            </div>
        </div>
    </div>
</div>
    
{# <!-- Modal de confirmation de suppression : appel via js par la class="confirmDelete" --> #}
<div class="modal fade" id="confirmDeleteModalMedia" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-section">
            <div class="modal-header mx-auto">
                <h5 class="modal-title mx-auto">Confirmation de la suppression</h5>
                {# <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span>&times;</span>
                </button> #}
            </div>
            <div class="modal-body text-warning">
                <p>Etes-vous sûr de vouloir supprimer cette image ?</p>
            </div>
            <div class="modal-footer mx-auto">
                <a class="btn btn-danger" id="confirmDeleteMediaYes">Oui</a>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Non</button>
            </div>
        </div>
    </div>
</div>

{# <!-- Modal de confirmation de suppression : appel via js par la class="confirmDelete" --> #}
<div class="modal fade" id="confirmDeleteModalNews" tabindex="-1" role="dialog">
<div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-section">
            <div class="modal-header">
                <h5 class="modal-title mx-auto">Confirmation de la suppression</h5>
                {# <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span>&times;</span>
                </button> #}
            </div>
            <div class="modal-body text-warning">
                <p>Etes-vous sûr de vouloir supprimer cet évènement ?</p>
            </div>
            <div class="modal-footer mx-auto">
                <a class="btn btn-danger text-white" id="confirmDeleteNewsYes">Oui</a>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Non</button>
            </div>
        </div>
    </div>
</div>


{# <!-- Modal de confirmation de suppression : appel via js par la class="confirmDelete" --> #}
<div class="modal fade" id="confirmDeleteModalCarsharing" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-section">
            <div class="modal-header">
                <h5 class="modal-title mx-auto">Confirmation de la suppression</h5>
                {# <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span>&times;</span>
                </button> #}
            </div>
            <div class="modal-body text-warning">
                <p>Etes-vous sûr de vouloir supprimer ce Co-voiturage ?</p>
            </div>
            <div class="modal-footer mx-auto">
                <a class="btn btn-danger text-white" id="confirmDeleteCarsharingYes">Oui</a>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Non</button>
            </div>
        </div>
    </div>
</div>

{# <!-- Modal de confirmation d'inscription à un co-voiturage' : appel via js par la class="confirmJoinCarsharing" --> #}
<div class="modal fade" id="confirmJoinModalCarsharing" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-white modal-section">
            <div class="modal-header mx-auto">
                <h5 class="modal-title text-center mx-auto">Confirmation d'inscription <br> à un co-voiturage</h5>
                {# <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span>&times;</span>
                </button> #}
            </div>
            <div class="modal-body text-warning">
                <p>Etes-vous sûr de vouloir rejoindre ce Co-voiturage ?</p>
            </div>
            <div class="modal-footer mx-auto">
                <a class="btn btn-primary" id="confirmJoinCarsharingYes">Oui</a>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Non</button>
            </div>
        </div>
    </div>
</div>


{# <!-- Modal de confirmation de suppression : appel via js par la class="confirmUnjoinCarsharing" --> #}
<div class="modal fade" id="confirmUnjoinModalCarsharing" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-section">
            <div class="modal-header mx-auto">
                <h5 class="modal-title text-center mx-auto">Confirmation de la suppression</h5>
                {# <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span>&times;</span>
                </button> #}
            </div>
            <div class="modal-body text-warning">
                <p>Etes-vous sûr de vouloir désinscrire du co-voiturage ?</p>
            </div>
            <div class="modal-footer mx-auto">
                <a class="btn btn-danger" id="confirmUnjoinCarsharingYes">Oui</a>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Non</button>
            </div>
        </div>
    </div>
</div>

{# <!-- Modal de confirmation de suppression : appel via js par la class="confirmDelete" --> #}
<div class="modal fade" id="confirmDeleteModalTimeSlot" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-section">
            <div class="modal-header">
                <h5 class="modal-title mx-auto">Confirmation de la suppression</h5>
                {# <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span>&times;</span>
                </button> #}
            </div>
            <div class="modal-body text-warning">
                <p>Etes-vous sûr de vouloir supprimer cette plage horaire ?</p>
            </div>
            <div class="modal-footer mx-auto">
                <a class="btn btn-danger text-white" id="confirmDeleteTimeSlotYes">Oui</a>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Non</button>
            </div>
        </div>
    </div>
</div>