{% extends 'base.html.twig' %}

{% block title %}ACB-L'Aikido{% endblock %}

{% block page %}

<!-- Aikido Section -->
<section id="aikido" class="aikido-section">
    <h1 class="text-center">L'Aïkido</h1>
    <h2 class="text-center text-primary mb-5">Un peu d'histoire ...</h2>
    <div class="container bg-white">

      <!-- Featured Aikido Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="img/logo2.jpg" alt="logo du club">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text-right text-center text-lg-left">
            <h4>L'Aïkido, un Art martial sans compétition</h4>
            <p class="text-black-50 mb-0">Accessible à toutes et à tous, sans tenir compte de l'âge, de la morphologie, des origines sociales ou professionnelles. <br>
                <hr>
            Cet Art martial se présente comme un ensemble de techniques de défense. L'apprentissage de ces techniques se réalise progressivement dans le but d'acquérir le reflexe des mouvements.</p>
          </div>
        </div>
      </div>
      <hr>
      <!-- Featured Aikido Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
            <img class="img-fluid float-right" src="img/kamiza.jpg" alt="image de O'Seinseï (kamiza aïkido)">
        </div>
        <div class="col-xl-4 col-lg-5 order-lg-first">
            <div class="featured-text-left text-center text-lg-left">
            <h4>Origines</h4>
            <p class="text-black-50 mb-0">O Senseï Morihei Ueshiba (1883-1969) a developpé à partir de 1925 cet Art Martial après l'étude de différents arts martiaux - Aïki-jutsu - Daẗo Ryu - 
                    ju-Jitsu - en incluant la pratique des armes (sabre, baton, couteau).
                    <br>
                    <hr>
                    Maître Morihei Ueshiba a réalisé une synthèse des "Budo" Japonnais et a créé l'AÏkido : " avec l'Aïkido nous entraînons notre esprit à ne pas combattre et nos techniques à ne pas attaquer..."</p>
            </div>
        </div>
      </div>
      <hr>
      <!-- Featured Aikido Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="img/stage_luc.jpg" alt="stage DTR Luc Mathevet">
        </div>
        <div class="col-xl-4 col-lg-5">
            <div class="featured-text-right text-center text-lg-left">
            <h4>Enseignements</h4>
            <p class="text-black-50 mb-0">Harmonie, équilibre et dépassement de soi sont les trois enseignements majeurs de cette discipline martiale japonaise. <br>
                <hr>
            L'Aïkido aide à la coordination des mouvements, l'entretien physique, le développement des notions de rythme et dynamisme et l'acquisition de gestes spontanés. Il permet également d'acquérir une plus grande maîtrise de soi.</p>
            </div>
        </div>
      </div>
      <hr>
      <!-- Featured Aikido Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
            <img class="img-fluid float-right seiza" src="img/seiza.jpg" alt="seiza">
        </div>
        <div class="col-xl-4 col-lg-5 order-lg-first">
            <div class="featured-text-left text-center text-lg-left">
            <h4>Seiza (position à genoux)</h4>
            <p class="text-black-50 mb-0">Position de base pour le salut (rei). Le pratiquant se tient à genoux, les pieds à plat sur le tapis, le poids sur les talons, les mains posées à mi-cuisse. Les genoux doivent être écartés d'une distance correspondant à un poing et demi.
                    Pour se relever, basculer légèrement le corps en avant, lever le genou droit ensuite le gauche puis l'on avance la partie gauche du corps en premier. Pour reprendre la position "seiza", nous devons faire l'inverse.<br>
                    <hr>
                    Origine : Le sabre, porté coté gauche, il était ainsi possible de dégainer avec le genou gauche à terre et le genou droit levé.</p>
            </div>
        </div>
      </div>
      <hr>
      <!-- Featured Aikido Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="img/kanji.jpg" alt="kanji aikido">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text-right text-center text-lg-left">
                <h4>Etymologie</h4>
                <p class="text-black-50 mb-0">Aï => Union, unification, harmonie<br>
                                              Ki => Energie vitale<br>
                                              Do => Voie, perspective, recherche<br>
                                              <hr>
                Comme toutes disciplines, arts, professions, il y a l'apprentissage des principes de base, en fait il s'agit de l'alphabet, du solfège, des outils de départ, éléments indispensables pour acquérir la liberté d'expression.
                </p>
                </div>
            </div>
          </div>
          <hr>
          <!-- Featured Aikido Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
            <img class="img-fluid float-right" src="img/uke_tori.jpg" alt="uke/tori">
        </div>
        <div class="col-xl-4 col-lg-5 order-lg-first">
            <div class="featured-text-left text-center text-lg-left">
            <h4>Uke et Tori</h4>
            <p class="text-black-50 mb-0">En Aïkido, les partenaires (Aite) sont la plupart du temps au nombre de deux et souvent désignés par les termes suivants : Tori et Uke. Tori est celui qui exécute la technique et Uke est celui qui subit la technique. <br>
                <hr>
                Une des difficultés principales du travail d’uke est de permettre à l’autre de travailler et de progresser sans pour autant le corriger ou bien le bloquer. Comprendre le sens du travail d’uke, c’est aussi comprendre les principes mêmes de l’aïkido. </p>
            </div>
        </div>
      </div>
          
    </div>
  </section>

{% endblock %}
