{% extends 'base.html.twig' %}

{% block title %}Modification des informations{% endblock %}

{% block page %}

    <section class="user-section justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto mb-5 text-center">
                    <h1 class="mb-5 text-uppercase">Fiche de progression</h1>
                    <h2 class="text-primary mb-4">Modification de la fiche</h2>                    
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-primary mt-5">{{ button_label|default('Enregistrer') }}</button>
                    {{ form_end(form) }}
                    <div class="mt-5">
                        <a href="javascript:history.back()">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}