// Importation de node_module/bootstrap/scss/bootstrap.scss
@import "~bootstrap/scss/bootstrap";

// Importation de node_modules/bootstrap4-toggle/css/bootstrap-toggle.min.css
@import "~bootstrap4-toggle/css/bootstrap4-toggle.css";

// Importation de node_modules/@fortawesome/fontawesome-free/css/all.css
// /!\ les images des icons ne sont pas pris en compte avec scss
// @import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

// Importation des Google Fonts
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");

// Importation des Google Fonts
@import url("https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css");

// Importation des styles du template grayscale
@import "./grayscale/grayscale.scss";

#navbarDropdown {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#flashMessage {
    position: absolute;
    top: 10%;
    text-align: center;
    left: 25%;
    width: 50%
}