
<form method="post" action="{{ path('admin_gallery_delete', {'id': media.id}) }}" onsubmit="return confirm('Etes-vous sur de voulir supprimmer ce média ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ media.id) }}">
    <span class="btn text-white"><i class="fas fa-trash-alt fa-3x"></i></span>
</form>
