{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block page %}

<div class="login-section justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto mb-5">
                <h1 class="mx-auto mb-5 text-center text-uppercase">Actualité</h1>
                <h2 class="text-primary text-center mb-5">Contenu de l'actualité sélectionnée</h2>
            </div>
            <div class="col-lg-8 mx-auto mb-5">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="m-0 mr-3 text-primary">{{ news.title }}</h4>
                    </div>
                    <div class="col-sm-6 text-center">
                        <p class="text-primary">{{ news.date|date("d/m/Y") }}</p>
                    </div>

                    <div class="col-lg-12">
                        <p class="text-white text-left">{{ news.content }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mx-auto text-center">
                <a href="{{ path('homepage') }}">Retour</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}