{% extends 'base.html.twig' %}

{% block title %}Modifier un document{% endblock %}

{% block page %}
    <h1>Administration</h1>
    <h2>Modifier un document</h2>

    {{ include('document/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('document_index') }}">Retour</a>

{% endblock %}
