{% extends 'base.html.twig' %}

{% block title %}Modification tarif{% endblock %}

{% block page %}
<div class="stages-section justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mb-5 text-center">
                <h1>Modification d'un tarif de cotisation</h1>

                {{ include('membership/_form.html.twig', {'button_label': 'Modifier'}) }}

                <a href="{{ path('membership_index') }}">Retour</a>

            </div>
        </div>
    </div>
</div>
{% endblock %}
