{% extends 'base.html.twig' %}

{% block title %}Nouveaux Tarif{% endblock %}

{% block page %}
<div class="stages-section justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mb-5 text-center">
                <h1>Ajouter un nouveaux tarif</h1>

                {{ include('membership/_form.html.twig') }}

                <a href="{{ path('membership_index') }}">Retour</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
