<form method="post" action="{{ path('time_slot_delete', {'id': time_slot.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ time_slot.id) }}">
    <button class="btn btn-primary mt-5">{{ button_label|default('Enregistrer') }}</button>
</form>
