{% extends 'base.html.twig' %}

{% block title %}Edit TimeSlot{% endblock %}

{% block page %}
    <h1>Edit TimeSlot</h1>

    {{ include('time_slot/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('time_slot_index') }}">back to list</a>

    {{ include('time_slot/_delete_form.html.twig') }}
{% endblock %}
