{% extends 'base.html.twig' %}

{% block title %}ajout horaires{% endblock %}

{% block page %}
<div class="stages-section justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mb-5 text-center">
                <h1>Ajouter de nouveaux horaires</h1>

                {{ include('time_slot/_form.html.twig') }}

                <a class="mt-5" href="{{ path('admin_index') }}">retour</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
