.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  p {
    margin-bottom: 2rem;
  }
  h1 {
    font-family: 'Varela Round';
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(fade-out(white, 0.1), fade-out(white, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 1.5rem;
  }
  hr {
    border-color: $primary;
    border-width: .25rem;
    width: 30%;
  }
}
