.admin-section {
    min-height: 100vh;
    padding-top: 10rem;
    background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);

    h1 {
        font-family: 'Varela Round';
        font-size: 2.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.8rem;
        background: -webkit-linear-gradient(fade-out(white, 0.1), fade-out(white, 1));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    .black-list {
        div.list-group-item {
            background-color: transparent;
            color: $white;
            border-top: 1px solid $white;
            border-radius: 0;

            .badge {
                display: flex;
                align-items: center;
                white-space: normal;
            }
        }

        a.list-group-item {
            &:hover {
                color: $primary !important;
            }
        }
    }
    
    td {
    vertical-align: middle;
    }

    th {
        cursor: pointer; // Change la forme de la souris comme s'il y avait un lien cliquable pour indiquer le tri des colonnes existant grâce au plugin DataTable
        padding: 1rem;
    }
    
    thead {
        border-bottom: 1px solid white;
    }
    
    tbody>tr {
        border-bottom: 1px solid white;
    }
    
    td {
        padding: 0.5rem;
    }
    
    .dataTables_filter { display: none; }
}