.aikido-section {
    padding-top: 10rem;
    padding-bottom: 5rem;    
    background: $bg-gradient;

    h1 {
      font-family: 'Varela Round';
      text-transform: uppercase;
      font-size: 2.5rem;
      line-height: 2.5rem;
      letter-spacing: 0.8rem;
      background: -webkit-linear-gradient(fade-out(white, 0.1), fade-out(white, 1));
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      padding-bottom: 1.5rem;
    }

    .featured-text-right {
      padding: 2rem;
      @media (min-width: 992px) {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid $primary;
      }
    }

    .seiza {
      padding-left: 1rem;
      width: 90%;
    }

    .featured-text-left {
      padding: 2rem;
      @media (min-width: 992px) {
        padding: 0 0 2 0rem;
        border-right: 0.5rem solid $primary;
      }
    }
    
    .container {
        padding: 3rem;
        border: 1px solid black;
        border-radius: 5px;
    }
  }
  