.club-section {
    padding-top: 10rem;    
    background: $bg-gradient;
    .featured-text {
      padding: 2rem;
      @media (min-width: 992px) {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid $primary;
      }
    }

    h1 {
        font-family: 'Varela Round';
        text-transform: uppercase;
        font-size: 2.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.8rem;
        background: -webkit-linear-gradient(fade-out(white, 0.1), fade-out(white, 1));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        padding-bottom: 1.5rem;
      }

    h2 {
        margin-bottom: 1.5rem;
        color: #eee;
        text-align: center;
        font-weight: bold;
    }

    h3 {
        margin-bottom: 1.5rem;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }

    h5 {
        text-align: center;
        font-weight: bold;
    }

    .teacher{
        margin: auto;
       justify-content: center !important;
    }
    .teacher-card {
        min-width: 18rem !important;
        margin: 0 2rem;
        background-color: transparent !important;
        border: none;
        color: #eee !important;
        text-align: center !important;
    }

    .img-card {
        display: block;
        height: 215px;
    }

    .card-img-top {
        width: auto; // override bootstrap class
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .president {
        margin: auto;
       justify-content: center !important; 
       color: #eee;
    }

    .president-card {
        min-width: 10rem !important;
        max-width: 18rem !important;
        background-color: transparent !important;
        border: none;
        text-align: center;
    }

    .container {
        padding: 3rem;
    }
    .club-text {
      padding: 3rem;
      font-size: 90%;
      @media (min-width: 992px) {
        padding: 5rem;
        hr {
          border-color: $primary;
          border-width: .25rem;
          width: 30%;
        }
      }
      li {
        list-style-type: none;
      }
    }
  }
  
